/* Navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    backdrop-filter: blur(20px);
    /* border: 2px solid red; */
}

/* Profile Image Styling */
.navbarLeft img {
    width: 50px;
    border-radius: 50%;
    outline: 2px solid white;
    outline-offset: 2px;
    transition: 0.3s ease-in-out;
}

.navbarLeft img:hover {
    outline: none;
    transform: scale(1.08);
    box-shadow: 0px 0px 8px 4px white;
}

/* Navigation Links */
.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    font-family: 'Quantify';
    letter-spacing: 2px;
    align-items: center;
}

.nav-links li {
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    transition: color 0.3s;
}

.nav-links li:hover {
    color: #FFD600;
}

/* Hamburger Icon (Mobile) */
.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: white; /* Ensures visibility */
    position: absolute;
    right: 20px; /* Positions it to the right */
    top: 50%;
    transform: translateY(-50%);
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 0px;
        right: 0;
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 18px;
        padding: 60px 0px;
        transition: transform 0.3s ease-in-out;
        z-index: 999;
        background-color: black;
    }

    .nav-links li{
        font-size: 1.5rem;
    }

    .nav-links.open {
        display: flex; /* Show when menuOpen is true */
    }

    .menu-icon {
        display: block;
        z-index: 1000;
    }
}

.scroll-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #FFD600; /* Yellow progress bar */
    transition: width 0.2s ease-in-out;
}

#viewGithubButton{
    font-family: 'Inter';
    border: 2px solid #A0E7A7;
    background-color: #A0E7A7;
    color: black;
    font-weight: 800;
    font-size: 1.2rem;
    padding: 8px 16px;
    cursor: pointer;
    transition: 0.3s ease-out;
}

#viewGithubButton:hover{
    background-color: transparent;
    box-shadow: 3px 3px 0px 1px #A0E7A7;
    color: white;
}