.timelineDescription{
    background-color: #5f467e62;
    padding: 8px 16px;
    border-radius: 4px;
    backdrop-filter: blur(4px);
    font-weight: 500;
}

.workExperienceHeading{
    font-family: "8BitArcade" !important;
    font-size: 6rem !important;
    color: #FFD600;
    text-shadow: 2px 2px 0px #de02ba;
    letter-spacing: 2px;
}